<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webond.chemicals">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".admin.activity.OrderRegisterActivity"></activity>
        <activity android:name=".admin.activity.AdminStockReportDetailActivity" />
        <activity android:name=".admin.activity.AdminStockReportActivity" />
        <activity android:name=".admin.activity.AdminPointReportActivity" />
        <activity android:name=".admin.activity.AdminReportActivity" />
        <activity android:name=".distributor.activity.DistributorMyOrderActivity" />
        <activity android:name=".dealer.activity.DealerMyOrderActivity" />
        <activity android:name=".customer.activity.CustomerMyOrdersActivity" />
        <activity android:name=".dealer.activity.DealerManageCustomerOrderActivity" />
        <activity
            android:name=".distributor.activity.DistributorManageDealerOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminManageDistributorOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity.CustomerAddOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dealer.activity.DealerAddOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".distributor.activity.DistributorAddOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dealer.activity.DealerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".distributor.activity.DistributorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity.CustomerProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminUpdateProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dealer.activity.DealerManageCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".distributor.activity.DistributorManageCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".distributor.activity.DistributorManageDealerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminAddProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminManageCustomerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminManageDealerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminManageDistributorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".admin.activity.AdminProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".distributor.activity.DistributorRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dealer.activity.DealerRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity.CustomerRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.activity.CustomerDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".distributor.activity.DistributorDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dealer.activity.DealerDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common_activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common_activity.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".admin.activity.AdminDashboardActivity"
            android:screenOrientation="portrait">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.webond.chemicals.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>